.contact {
  margin-top: 50px;
  .office-details {
      margin-bottom:70px;
    img {
      width: 50px;
      height: 50px;
    }
    p {
      margin-top: 20px;
      margin-bottom: 0;
      font-weight: bold;
      font-size: 20px;
      @include caps;
    }
    span {
      font-size: 15px;
      color: #8c939a;
    }
    iframe{
      margin-bottom: 50px;
    }
  }
  .contact-form {
    margin-top: 50px;
    width: 70%;
    margin-top: 100px;
    margin: auto;
    form {
      ::placeholder {
        @include caps;
        font-size: 15px;
        padding-left: 20px;
      }
      .name,
      .email,.subject,.message {
        border-radius: 15px;
        width: 100%;
        height: 40px;
        padding: 15px ;
        outline: none;  
        border: none;
        box-shadow: inset 2px 2px 2px #dadada, -2px -2px 2px #fafafa;
      }
      .subject{
          margin: 20px 0;
      }
      .message {
        height: 200px;
      }
      .button {
        outline: none;
        margin-top: 20px;
        padding: 15px 30px;
        border-radius: 15px;
        background-color: white;
        color: $baseColor;
        border: none;
        box-shadow: 10px 10px 10px #dadada, -10px -10px 10px #fafafa;
        @include shadow;
        @include caps;
      }
    }
  }
}
