.intro {
  height: 100vh;
  .intro-text {
    h4 {
      margin: 20px auto;
      #primary {
        text-transform: capitalize;
      }
    }
    p {
      color: #949ba1;
    }
    #primary {
      color: $primaryColor;
      text-transform: uppercase;
    }
    #base {
      color: $baseColor;
      text-transform: capitalize;
    }
    button {
      position: relative;
      overflow: hidden;
    transition: background 400ms;
    color: #fff;
    background-color: $baseColor;
    padding: 1rem 2rem;
    height: 50px;
    font-size: 1rem;
    outline: 0;
    border: 0;
    text-transform: capitalize;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3); /* black with 30% opacity */
    cursor: pointer;
    }
  }
  .hero-img {
    position: relative;
    .profile {
      img {
        width: 80%;
        height: 80%;
        margin-top: 12.5%;
        align-items: center;
        border-radius: 50%;
        box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
        z-index: 11;
      }
    }

    .square {
      position: absolute;
      bottom: 20px;
      animation: rotate 5s linear;
      animation-iteration-count: infinite;
      animation-play-state: running;
    }
    .circle-1 {
      width: 85px;
      height: 85px;
      background: #1ab394;
      border-radius: 50%;
      position: absolute;
      top: 150px;
      right: 34px;
      animation: rotate 4s linear;
      animation-iteration-count: infinite;
      animation-play-state: running;
      z-index: 11;
    }
  }
}
@keyframes square{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
@keyframes circle-1{
  from{
    transform: rotate(10deg);
  } to {
    transform: rotate(360deg);
  }
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(1);
  animation: ripple 500ms linear;
  background-color: rgba(250, 245, 245, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(5);
    opacity: 0;
  }
}