.left-menu{
    position: fixed;
    width: 100px;
    margin-top: 50px;
    height: 80vh;
    .follow{
        p{
            margin: 50px auto;
            transform: rotate(270deg);
            text-transform: capitalize;
        }
        .line{
            width: 3px;
            height: 80px;
            background: $baseColor;
        }
    }
    .social-media{
        a{  
            margin-top: 10px;
            color: $primaryColor;
            &:hover{
                color: $baseColor;
            }
        }
    }
}