.right-menu{
    position: fixed;
    width: 100px;
    height: 100%;
    right: 0;
    a{
        width: 35px;
        height:4px;
        margin-bottom:15px ;
        background: $primaryColor;
        cursor: pointer;    
        position: relative;    
        
        &:hover{
            background: $baseColor;
            width: 50px;
            right: 7px;
            transition: 0.1s ease-in;
        }
        &:nth-child(2):hover{
            &::before{
            content: "about me";
            position: absolute;
            font-size: 12px;
            margin-top: -5px;
            right: 70px;
            justify-content: center;
            text-transform: uppercase;
            color: $baseColor;
            }
        }
        &:nth-child(3):hover{
            
            &::before{
            content: "resume";
            position: absolute;
            font-size: 12px;
            margin-top: -5px;
            right: 80px;
            color: $baseColor;
            text-transform: uppercase;
            }
        }
        &:nth-child(4):hover{
            &::before{
            content: "services";
            position: absolute;
            font-size: 12px;
            margin-top: -5px;
            right: 80px;
            color: $baseColor;
            text-transform: uppercase;
            }
        }
        &:nth-child(5):hover{
            &::before{
            content: "portfolio";
            position: absolute;
            font-size: 12px;
            margin-top: -5px;
            right: 80px;
            color: $baseColor;
            text-transform: uppercase;
            }
        }
        &:nth-child(6):hover{
            &::before{
            content: "client";
            position: absolute;
            font-size: 12px;
            right: 70px;
            margin-top: -5px;
            color: $baseColor;
            text-transform: uppercase;
            }
        }
        &:nth-child(7):hover{
            &::before{
            content: "news";
            position: absolute;
            font-size: 12px;
            right: 70px;
            margin-top: -5px;
            color: $baseColor;
            text-transform: uppercase;
            }
        }
        &:last-child:hover{
            &::before{
            content: "Contact";
            position: absolute;
            font-size: 12px;
            right: 70px;
            margin-top: -5px;
            color: $baseColor;
            text-transform: uppercase;
            }
        }
    }
}