@import "variable";
@import "navbar";
@import "scss/fontawesome.scss";
@import "scss/brands.scss";
@import "scss/regular.scss";
@import "scss/solid.scss";
@import "left-menu";
@import "right-menu";
@import "intro";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color:rgb(245, 243, 239);
}
.active{
    background: $baseColor;
}

