.navbar {
  background: #c5c7c5;
  height: 50px;
  width: 100%;
}

.navbar .logo span {
  letter-spacing: 2px;
  font-size: 25px;
  font-weight: 200;
}

.navbar .logo span #primary {
  color: #4ebda6;
}

.navbar .hamburger-menu {
  position: relative;
  background: #212529;
}

.navbar .hamburger-menu .line {
  height: 2px;
  width: 35px;
}

.navbar .hamburger-menu .line::before, .navbar .hamburger-menu .line::after {
  position: absolute;
  content: '';
  background: #212529;
  height: 2px;
  width: 35px;
  display: block;
}

.navbar .hamburger-menu .line::after {
  top: 8px;
}

.navbar .hamburger-menu .line::before {
  top: -8px;
}

.left-menu {
  position: fixed;
  width: 100px;
  margin-top: 50px;
  height: 80vh;
}

.left-menu .follow p {
  margin: 50px auto;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  text-transform: capitalize;
}

.left-menu .follow .line {
  width: 3px;
  height: 80px;
  background: #4ebda6;
}

.left-menu .social-media a {
  margin-top: 10px;
  color: #212529;
}

.left-menu .social-media a:hover {
  color: #4ebda6;
}

.right-menu {
  position: fixed;
  width: 100px;
  height: 100%;
  right: 0;
}

.right-menu .navigation {
  width: 35px;
  height: 4px;
  margin-bottom: 20px;
  background: #212529;
  cursor: pointer;
}

.right-menu .navigation:hover {
  background: #4ebda6;
}

.right-menu .navigation:nth-child(2):hover::before {
  content: "about me";
  position: absolute;
  font-size: 12px;
  margin-top: -5px;
  margin-right: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: #4ebda6;
}

.right-menu .navigation:nth-child(3):hover::before {
  content: "resume";
  position: absolute;
  font-size: 12px;
  margin-top: -5px;
  right: 70px;
  color: #4ebda6;
  text-transform: uppercase;
}

.right-menu .navigation:nth-child(4):hover::before {
  content: "services";
  position: absolute;
  font-size: 12px;
  margin-top: -5px;
  right: 80px;
  color: #4ebda6;
  text-transform: uppercase;
}

.right-menu .navigation:nth-child(5):hover::before {
  content: "portfolio";
  position: absolute;
  font-size: 12px;
  margin-top: -5px;
  right: 80px;
  color: #4ebda6;
  text-transform: uppercase;
}

.right-menu .navigation:nth-child(6):hover::before {
  content: "client";
  position: absolute;
  font-size: 12px;
  right: 55px;
  margin-top: -5px;
  color: #4ebda6;
  text-transform: uppercase;
}

.right-menu .navigation:nth-child(7):hover::before {
  content: "blog";
  position: absolute;
  font-size: 12px;
  right: 50px;
  margin-top: -5px;
  color: #4ebda6;
  text-transform: uppercase;
}

.right-menu .navigation:last-child:hover::before {
  content: "Contact";
  position: absolute;
  font-size: 12px;
  right: 70px;
  margin-top: -5px;
  color: #4ebda6;
  text-transform: uppercase;
}

.intro {
  height: 100vh;
}

.intro .intro-text h4 {
  margin: 20px auto;
}

.intro .intro-text h4 #primary {
  text-transform: capitalize;
}

.intro .intro-text p {
  color: #949ba1;
}

.intro .intro-text #primary {
  color: #212529;
  text-transform: uppercase;
}

.intro .intro-text #base {
  color: #4ebda6;
  text-transform: capitalize;
}

.intro .intro-text .cv {
  margin-top: 40px;
  text-transform: capitalize;
}

.intro .intro-text .cv a {
  color: #4ebda6;
  background-color: white;
  border-radius: 15px;
  padding: 15px 25px;
  text-decoration: none;
  -webkit-box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
          box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
}

.intro .intro-text .cv a:hover {
  -webkit-box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa, inset 3px 3px 3px 0 rgba(0, 0, 0, 0.2), inset -3px -3px 3px 0 rgba(255, 255, 255, 0.5);
          box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa, inset 3px 3px 3px 0 rgba(0, 0, 0, 0.2), inset -3px -3px 3px 0 rgba(255, 255, 255, 0.5);
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.intro .hero-img {
  position: relative;
}

.intro .hero-img .profile img {
  width: 80%;
  height: 80%;
  margin-top: 12.5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
          box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
  z-index: 11;
}

.intro .hero-img .square {
  position: absolute;
  bottom: 20px;
  -webkit-animation: rotate 25s cubic-bezier(0, 1.03, 1, 1) infinite;
          animation: rotate 25s cubic-bezier(0, 1.03, 1, 1) infinite;
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
  -webkit-animation-timing-function: cubic-bezier(0, 1.03, 1, 1);
          animation-timing-function: cubic-bezier(0, 1.03, 1, 1);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-name: rotate;
          animation-name: rotate;
}

.intro .hero-img .square1 {
  width: 85px;
  height: 85px;
  background: #1ab394;
  border-radius: 50%;
  opacity: 0.9;
  position: absolute;
  top: 150px;
  right: 34px;
  overflow: hidden;
  -webkit-animation: circling 18s linear infinite;
          animation: circling 18s linear infinite;
  z-index: 11;
}

.about-me {
  height: 100vh;
  text-align: center;
}

.about-me .content {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.about-me .content .content-wrapper {
  position: relative;
  margin-bottom: -40px;
  z-index: -1;
}

.about-me .content .content-wrapper span {
  color: #e2e4e7;
  font-weight: bolder;
  font-size: 55px;
  text-transform: capitalize;
}

.about-me .content h2 {
  text-transform: capitalize;
  color: #4ebda6;
}

.about-me #base {
  color: #4ebda6;
  font-size: 30px;
  font-weight: bold;
}

.about-me .about-img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.about-me .about-img img {
  border-radius: 15px;
  border: 5px solid white;
  -webkit-box-shadow: 10px 10px 10px #dadada, -10px -10px 10px #fafafa;
          box-shadow: 10px 10px 10px #dadada, -10px -10px 10px #fafafa;
}

.about-me .about-detail {
  margin-left: 20px;
  text-transform: capitalize;
}

.about-me .about-detail #base {
  text-transform: uppercase;
}

.about-me .about-detail h2 {
  text-align: left;
  margin-bottom: 30px;
}

.about-me .about-detail b {
  width: 100px;
  display: inline-block;
  border-right: 1px solid black;
  margin-right: 20px;
}

.about-me .about-detail p {
  font-size: 15px;
  text-align: left;
}

.about-me .cv {
  text-transform: capitalize;
  margin-right: 20px;
  margin-top: 30px;
}

.about-me .cv a {
  color: #4ebda6;
  background-color: white;
  border-radius: 15px;
  padding: 15px 25px;
  text-decoration: none;
  -webkit-box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
          box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
}

.about-me .cv a:hover {
  -webkit-box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa, inset 3px 3px 3px 0 rgba(0, 0, 0, 0.2), inset -3px -3px 3px 0 rgba(255, 255, 255, 0.5);
          box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa, inset 3px 3px 3px 0 rgba(0, 0, 0, 0.2), inset -3px -3px 3px 0 rgba(255, 255, 255, 0.5);
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.about-me .activities {
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 30px;
  -webkit-box-shadow: 10px 10px 10px #dadada, -10px -10px 10px #fafafa;
          box-shadow: 10px 10px 10px #dadada, -10px -10px 10px #fafafa;
  text-transform: capitalize;
}

.about-me .activities img {
  height: 50px;
  width: 50px;
  margin: 20px auto;
}

.about-me .activities h2 {
  margin-bottom: 30px;
}

.resume {
  height: 100%;
  margin-top: 100px;
}

.resume .content {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.resume .content .content-wrapper {
  position: relative;
  margin-bottom: -40px;
  z-index: -1;
}

.resume .content .content-wrapper span {
  color: #e2e4e7;
  font-weight: bolder;
  font-size: 55px;
  text-transform: capitalize;
}

.resume .content h2 {
  text-transform: capitalize;
  color: #4ebda6;
}

.resume .education h2 {
  text-transform: capitalize;
  text-align: center;
}

.resume .education .timeline {
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px #dadada, -5px -5px 5px #fafafa;
          box-shadow: 5px 5px 5px #dadada, -5px -5px 5px #fafafa;
  padding: 50px;
}

.resume .education .timeline .timeline-bar {
  width: 2px;
  height: 80%;
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
}

.resume .education .timeline .timeline-bar::after {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  margin-top: 30px;
  margin-left: -6px;
}

.resume .education .timeline .green {
  background-color: green;
}

.resume .education .timeline .green::after {
  background-color: green;
}

.resume .education .timeline .blue {
  background-color: blue;
}

.resume .education .timeline .blue::after {
  background-color: blue;
}

.resume .education .timeline .red {
  background-color: red;
}

.resume .education .timeline .red::after {
  background-color: red;
}

.resume .education .timeline .degree #degree {
  text-transform: capitalize;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 10px;
}

.resume .education .timeline .degree span {
  color: #4ebda6;
}

.resume .education .timeline .degree #description {
  margin-top: 20px;
}

.resume .skills {
  margin-top: 50px;
}

.resume .skills h4 {
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
}

.resume .skills h4::before {
  content: "";
  height: 3px;
  width: 100px;
  margin-left: 10px;
  background-color: #4ebda6;
  margin-top: 50px;
  position: absolute;
}

.resume .skills #base {
  color: #4ebda6;
}

.resume .skills .skill-title {
  margin-top: 50px;
  padding: 40px 30px;
  font-size: 15px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px #dadada, -5px -5px 5px #fafafa;
          box-shadow: 5px 5px 5px #dadada, -5px -5px 5px #fafafa;
}

.resume .skills .skill-title .left-div {
  height: 50px;
  text-transform: uppercase;
  margin-bottom: 10px;
  position: relative;
}

.resume .skills .skill-title .left-div::before, .resume .skills .skill-title .left-div::after {
  content: "";
  height: 5px;
  position: absolute;
  border-radius: 10px;
  margin-top: 30px;
}

.resume .skills .skill-title .left-div::before {
  width: 100%;
  background-color: #cecee7;
}

.resume .skills .skill-title .left-div span {
  margin-right: 20%;
  position: absolute;
}

.resume .skills .skill-title .left-div:first-child::after {
  width: 80%;
  background-color: #f6527f;
  right: 20%;
}

.resume .skills .skill-title .left-div:first-child span {
  margin-right: 20%;
  position: absolute;
  right: 0;
}

.resume .skills .skill-title .left-div:nth-child(2)::after {
  width: 60%;
  background-color: #fbdd62;
  right: 40%;
}

.resume .skills .skill-title .left-div:nth-child(2) span {
  margin-right: 40%;
  position: absolute;
  right: 0;
}

.resume .skills .skill-title .left-div:last-child::after {
  width: 75%;
  background-color: #49ceb0;
  right: 25%;
}

.resume .skills .skill-title .left-div:last-child span {
  margin-right: 25%;
  position: absolute;
  right: 0;
}

.resume .skills .skill-title .right-div {
  height: 50px;
  text-transform: uppercase;
  margin-bottom: 10px;
  position: relative;
}

.resume .skills .skill-title .right-div::before, .resume .skills .skill-title .right-div::after {
  content: "";
  height: 5px;
  position: absolute;
  border-radius: 10px;
  margin-top: 30px;
}

.resume .skills .skill-title .right-div::before {
  width: 100%;
  background-color: #cecee7;
}

.resume .skills .skill-title .right-div::after {
  width: 80%;
  right: 20%;
}

.resume .skills .skill-title .right-div span {
  margin-right: 20%;
  position: absolute;
}

.resume .skills .skill-title .right-div:first-child::after {
  width: 40%;
  background-color: #f6527f;
  right: 60%;
}

.resume .skills .skill-title .right-div:first-child span {
  margin-right: 60%;
  position: absolute;
  right: 0;
}

.resume .skills .skill-title .right-div:nth-child(2)::after {
  width: 50%;
  background-color: #fbdd62;
  right: 50%;
}

.resume .skills .skill-title .right-div:nth-child(2) span {
  margin-right: 50%;
  position: absolute;
  right: 0;
}

.resume .skills .skill-title .right-div:last-child::after {
  width: 60%;
  background-color: #49ceb0;
  right: 40%;
}

.resume .skills .skill-title .right-div:last-child span {
  margin-right: 40%;
  position: absolute;
  right: 0;
}

.services {
  text-transform: capitalize;
  margin-bottom: 50px;
}

.services .content {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.services .content .content-wrapper {
  position: relative;
  margin-bottom: -40px;
  z-index: -1;
}

.services .content .content-wrapper span {
  color: #e2e4e7;
  font-weight: bolder;
  font-size: 55px;
  text-transform: capitalize;
}

.services .content h2 {
  text-transform: capitalize;
  color: #4ebda6;
}

.services .services-grid {
  text-align: center;
  border-radius: 20px;
  padding: 20px;
}

.services .services-grid img {
  height: 40px;
  width: 40px;
  margin: 10px 0;
}

.services .services-grid h4 {
  margin-bottom: 20px;
  font-weight: bold;
}

.services .services-grid p {
  line-height: 25px;
}

.services .services-grid:hover {
  margin-top: -10px;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

.services .col-md-4 {
  margin-bottom: 30px;
}

.services .col-md-4:first-child .services-grid, .services .col-md-4:nth-child(5) .services-grid {
  background-color: #f6527f;
  color: white;
}

.services .col-md-4:nth-child(2) .services-grid, .services .col-md-4:nth-child(6) .services-grid {
  background-color: #fbdd62;
  color: #6b685f;
}

.services .col-md-4:nth-child(3) .services-grid, .services .col-md-4:nth-child(4) .services-grid {
  background-color: #49ceb0;
  color: white;
}

.my-work {
  margin-bottom: 50px;
}

.my-work .content {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.my-work .content .content-wrapper {
  position: relative;
  margin-bottom: -40px;
  z-index: -1;
}

.my-work .content .content-wrapper span {
  color: #e2e4e7;
  font-weight: bolder;
  font-size: 55px;
  text-transform: capitalize;
}

.my-work .content h2 {
  text-transform: capitalize;
  color: #4ebda6;
}

.my-work .work-category {
  text-transform: capitalize;
}

.my-work .work-category .button {
  height: 40px;
  background-color: #f1f3f6;
  color: #4ebda6;
  padding: 10px 20px;
  margin-right: 20px;
  border-radius: 15px;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
          box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
}

.my-work .work-category .button:hover {
  -webkit-box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa, inset 3px 3px 3px 0 rgba(0, 0, 0, 0.2), inset -3px -3px 3px 0 rgba(255, 255, 255, 0.5);
          box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa, inset 3px 3px 3px 0 rgba(0, 0, 0, 0.2), inset -3px -3px 3px 0 rgba(255, 255, 255, 0.5);
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.my-work .work-category .active {
  -webkit-box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa, inset 3px 3px 3px 0 rgba(0, 0, 0, 0.2), inset -3px -3px 3px 0 rgba(255, 255, 255, 0.5);
          box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa, inset 3px 3px 3px 0 rgba(0, 0, 0, 0.2), inset -3px -3px 3px 0 rgba(255, 255, 255, 0.5);
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.my-work .work-grid .col-md-4 {
  margin-top: 30px;
}

.my-work .work-grid img {
  border-radius: 20px;
  border: 5px solid #e6e7f0;
  -webkit-box-shadow: 5px 5px 5px #dadada, -5px -5px 5px #fafafa;
          box-shadow: 5px 5px 5px #dadada, -5px -5px 5px #fafafa;
}

.my-work .work-grid .grid {
  position: relative;
}

.my-work .work-grid .grid .icon {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  border-radius: 20px;
  background: #4ebda6;
  color: white;
  visibility: hidden;
}

.my-work .work-grid .grid .icon a {
  text-align: center;
  height: 50px;
  width: 50px;
  text-decoration: none;
  color: white;
  margin-left: 20px;
  background-color: red;
  border-radius: 50%;
  padding: 10px;
}

.my-work .work-grid .grid .icon a:last-child {
  background-color: blue;
}

.my-work .work-grid .grid .work-title {
  text-transform: capitalize;
  position: absolute;
  top: 65%;
  width: 100%;
  color: black;
  text-align: center;
  visibility: hidden;
}

.my-work .work-grid .grid:hover .icon {
  visibility: visible;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 0.8;
}

.my-work .work-grid .grid:hover .work-title {
  visibility: visible;
}

.content {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.content .content-wrapper {
  position: relative;
  margin-bottom: -40px;
  z-index: -1;
}

.content .content-wrapper span {
  color: #e2e4e7;
  font-weight: bolder;
  font-size: 55px;
  text-transform: capitalize;
}

.content h2 {
  text-transform: capitalize;
  color: #4ebda6;
}

.testimonial {
  text-transform: capitalize;
  margin-bottom: 50px;
}

.testimonial .testimonial-grid {
  background: white;
  height: 100%;
  padding: 30px;
  border-radius: 20px;
}

.testimonial .testimonial-grid img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: relative;
  margin-top: -70px;
  margin-bottom: 20px;
  border: 7px solid white;
}

.testimonial .slider-line {
  margin-top: 50px;
  width: 100%;
}

.testimonial .slider-line .line {
  height: 5px;
  width: 25px;
  border-radius: 10px;
  background: grey;
  margin-right: 10px;
  cursor: pointer;
}

.testimonial .slider-line .active {
  width: 30px;
  background: #4ebda6;
}

.news {
  width: 80%;
  margin: 0 auto;
}

.news .news-grid {
  padding: 20px 30px;
  border-radius: 20px;
  background-color: #f1f3f6;
  height: 100%;
  margin-bottom: 50px;
  -webkit-box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
          box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
}

.news .news-grid .news-img {
  margin-bottom: 30px;
}

.news .news-grid .news-img img {
  top: -200px;
  display: block;
  width: 90%;
  margin: auto;
  border-radius: 20px;
  padding: 10px;
}

.news .news-grid .news-title p {
  text-transform: capitalize;
  margin-right: 4rem;
}

.news .news-grid .news-title p i {
  color: red;
}

.news .news-grid .news-title span i {
  color: blue;
}

.news .news-grid p {
  margin: 0;
}

.news .news-grid .title {
  margin: 10px 0;
  font-weight: bold;
  text-transform: capitalize;
}

.news .news-grid a {
  text-decoration: none;
  color: #4ebda6;
}

.news .news-grid a p {
  margin-top: 20px;
  text-transform: capitalize;
}

.contact {
  margin-top: 50px;
}

.contact .office-details img {
  width: 50px;
  height: 50px;
}

.contact .office-details p {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
}

.contact .office-details span {
  font-size: 15px;
  color: #8c939a;
}

.contact .contact-form {
  margin-top: 50px;
}

.contact .contact-form form ::-webkit-input-placeholder {
  text-transform: capitalize;
}

.contact .contact-form form :-ms-input-placeholder {
  text-transform: capitalize;
}

.contact .contact-form form ::-ms-input-placeholder {
  text-transform: capitalize;
}

.contact .contact-form form ::placeholder {
  text-transform: capitalize;
}

.contact .contact-form form .name,
.contact .contact-form form .email {
  border-radius: 15px;
  width: 40%;
  height: 40px;
  outline: none;
}

.contact .contact-form form .subject {
  border-radius: 15px;
  width: 90%;
  height: 40px;
  margin: 20px 0;
  outline: none;
}

.contact .contact-form form .message {
  width: 100%;
  outline: none;
  height: 200px;
  border-radius: 15px;
}

.contact .contact-form form .button {
  outline: none;
  margin-top: 20px;
  padding: 15px 30px;
  border-radius: 15px;
  background-color: white;
  border: none;
  -webkit-box-shadow: 10px 10px 10px #dadada, -10px -10px 10px #fafafa;
          box-shadow: 10px 10px 10px #dadada, -10px -10px 10px #fafafa;
  text-transform: capitalize;
}

.contact .contact-form form .button:hover {
  -webkit-box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa, inset 3px 3px 3px 0 rgba(0, 0, 0, 0.2), inset -3px -3px 3px 0 rgba(255, 255, 255, 0.5);
          box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa, inset 3px 3px 3px 0 rgba(0, 0, 0, 0.2), inset -3px -3px 3px 0 rgba(255, 255, 255, 0.5);
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.footer {
  text-align: center;
  margin-top: 50px;
  color: black;
  text-transform: capitalize;
}

.footer i {
  color: #4ebda6;
}

.footer a {
  text-decoration: none;
  color: #4ebda6;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f1f3f6;
}

.active {
  color: red;
  background: #4ebda6;
}
/*# sourceMappingURL=style.css.map */